<div class="main-container">
  <header>
    <nav class ="banner-hero">
      <img class="hero-logo" src="assets/images/mattr-logo.png" alt="Mattr Logo" />
      <span class="hero-nav">BLOG</span>
      <span class="hero-nav">SIGN IN</span>
    </nav>
      <h1 class="hero-tagline">Personalities tell powerful stories.</h1>
      <p class="hero-text">
        The key to successful brand engagement lies within the vibrant personalities that make up online audiences. Mattr translates the social data they generate into powerful stories and actionable insights, allowing brands to connect on a deeper level with their targets.
      </p>
      <p class="hero-text">
        Get To know your audience.
        Request a private beta invitation:
      </p>
  </header>

  <section class="feature-section">
    <div class="app-feature">
      <h2>The App</h2>
      <p class="feature-text">Mattr allows you to build a more complete view of your social media audience through a comprehensive set of segmentation, comparison, monitoring, and visualization tools.  Explore our Features to learn more.</p>
    </div>
    <div class="app-feature">
      <h2>Audience Personality Segments Decide</h2>
      <p class="feature-text">Decide how you want to look at your audience, based on our Unique Personality Type Analysis and demographics.</p>
    </div>
    <div class="app-feature">
      <h2>Persona Builder</h2>
      <p class="feature-text">Combine Personality Traits and Demographic information to create Audience Personas that make sense for your business.</p>
    </div>
    <div class="app-feature">
      <h2>Engagement Response by Persona</h2>
      <p class="feature-text">Which of your social media activities are attacting the audience engagement you’re looking for? See a segmented report on a per-post basis.</p>
    </div>
    <div class="app-feature">
      <h2>Social Brand Benchmarking</h2>
      <p class="feature-text">See how your brand’s audience compares to that of your competition, or your industry. Choose what you want to compare and then view the comparision.</p>
    </div>
    <div class="app-feature">
      <h2>Sentiment Variance</h2>
      <p class="feature-text">Knowing that your audience is ‘upbeat’ just isn’t enough. You need to know if they’re more upbeat about your brand than they are about other things.</p>
    </div>
  </section>
</div>
