<div class="main-container">

  <header>
    <div class="center-container">

      <nav class ="banner-hero">
        <img class="hero-brand" src="assets/images/mattr-brand.png" alt="Mattr Brand Logo" />
        <img class="hero-logo" src="assets/images/mattr-logo.png" alt="Mattr Logo" />
        <span class="hero-nav">BLOG</span>
        <span class="hero-nav hidden">SIGN IN</span>
      </nav>

      <h1 class="hero-tagline">Personalities</h1>
      <h1 class="hero-tagline"> tell powerful stories.</h1>
        <p class="hero-text">
          The key to successful brand engagement lies within the vibrant personalities that make up online audiences. Mattr translates the social data they generate into powerful stories and actionable insights, allowing brands to connect on a deeper level with their targets.
        </p>
        <p class="hero-text">GET TO KNOW YOUR AUDIENCE.</p>
        <p class="hero-text">REQUEST A PRIVATE BETA INVITATION:</p>
      {{!-- add action to form via PHP --}}
      <form class="invite" action="signup" method="post">
        <input type="email" name="email" placeholder="you@email.com">
        <button type="submit" name="request">Request Invite</button>
      </form>

    </div>
  </header>


  <section class="feature-section">
    <div class="center-container">

      <div class="app-feature">
        <h2 class="primary-feature-header">The App</h2>
        <p class="feature-text">Mattr allows you to build a more complete view of your social media audience through a comprehensive set of segmentation, comparison, monitoring, and visualization tools.  Explore our Features to learn more.</p>
      </div>
      <div class="app-feature">
        <img class="feature-image" src="../../assets/images/audience-feature.png" alt="" />
        <h2 class="feature-header">Audience Personality Segments Decide</h2>
        <p class="feature-text">Decide how you want to look at your audience, based on our Unique Personality Type Analysis and demographics.</p>
      </div>
      <div class="app-feature">
        <img class="feature-image" src="../../assets/images/persona-feature.png" alt="" />
        <h2 class="feature-header">Persona Builder</h2>
        <p class="feature-text">Combine Personality Traits and Demographic information to create Audience Personas that make sense for your business.</p>
      </div>
      <div class="app-feature">
        <img class="feature-image" src="../../assets/images/engagement-feature.png" alt="" />
        <h2 class="feature-header">Engagement Response by Persona</h2>
        <p class="feature-text">Which of your social media activities are attacting the audience engagement you’re looking for? See a segmented report on a per-post basis.</p>
      </div>
      <div class="app-feature">
        <img class="feature-image" src="../../assets/images/social-feature.png" alt="" />
        <h2 class="feature-header">Social Brand Benchmarking</h2>
        <p class="feature-text">See how your brand’s audience compares to that of your competition, or your industry. Choose what you want to compare and then view the comparision.</p>
      </div>
      <div class="app-feature">
        <img class="feature-image" src="../../assets/images/sentiment-feature.png" alt="" />
        <h2 class="feature-header">Sentiment Variance</h2>
        <p class="feature-text">Knowing that your audience is ‘upbeat’ just isn’t enough. You need to know if they’re more upbeat about your brand than they are about other things.</p>
      </div>

    </div>
  </section>

  <footer>
    <div class="center-container">
      <div class="footer-section">
        <h3 class="footer-heading">San Fransisco, CA</h3>
        <span class="location">Rocketspace</span>
        <span class="location">181 Fremont Street </span>
        <span class="location">San Francisco, California 94105</span>
      </div>
      <div class="footer-section">
        <h3 class="footer-heading">Austin, TX</h3>
        <span class="location">8140 North Mopac Expressway
        <span class="location">Building 1, Suite 150</span>
        <span class="location">Austin, Texas 78759</span>
      </div>
      <div class="footer-section">
        <h3 class="footer-heading">Elsewhere</h3>
        <span class="social"></span>
        <span class="social"></span>
        <span class="social"></span>
      </div>
      <div class="footer-section">
        <h3 class="footer-heading">Company</h3>
        <span class="social"></span>
        <span class="social"></span>
        <span class="social"></span>
      </div>
    </div>
  </footer>
</div>
