<div class="main-container">
  <header>
    <nav class ="banner-hero">
      <img class="hero-logo" src="assets/images/mattr-logo.png" alt="Mattr Logo" />
      <span class="hero-nav">BLOG</span>
      <span class="hero-nav">SIGN IN</span>
    </nav>
      <h1 class="hero-tagline">Personalities tell powerful stories.</h1>
      <p>
        The key to successful brand engagement lies within the vibrant personalities that make up online audiences. Mattr translates the social data they generate into powerful stories and actionable insights, allowing brands to connect on a deeper level with their targets.
      </p>
      <p>
        Get To know your audience.
        Request a private beta invitation:
      </p>
  </header>
</div>
