// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

///Custom Colors//
$pink-border: #c9016a;
$background-gray: #ececec;
$app-header-purple: #42014e;
$pink-header: #df0e6b;
$header-nav: #fb0059;
$footer-gray: #e2e2e2;
$feature-gray: #7d7d7d;
$footer-blue: #073768;
$footer-pale-blue: #416589;
