@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

@import "colors";
@import "typography";
@import "mobile";

body {
  font-family: $base-font-family;
  font-size: 62.5%;
  background-color: $base-background-color;
  color: $base-font-color;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center-container{
  @include outer-container(1200px);
}

///Header Styling///

header{
  background-image: url("../../assets/images/header-background.png");
  background-position: 0% 100%;
  background-size: cover;
  height: 600px;
  border-bottom: 2px solid $pink-border;
}

header h1, p{
  @include span-columns(4);
  @include shift(4);
  color: #fff;
  text-align: center;
}

span{
  font-size: 1.2em;
}

.hero-tagline{
  font-family: $adelle;
  font-size: 3.8em;
}

.hero-text{
  font-size: 1.4em;
}

.hero-nav{
  color: $header-nav;
}

///Feature Styling///

.feature-section{
    font-family: $adelle;
}

.primary-feature-header{
  color: $app-header-purple;
}

.feature-header{
  color: $pink-header;
}

.feature-text{
  color: $feature-gray;
}

.app-feature{
  @include span-columns(4);
}

////Footer Styling////

footer{
  background-color: $footer-gray;
}
.footer-heading{
  color: $pink-header;
}

.location{
  color: $footer-blue;
}
