@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;
$pink-border: #c9016a;

@import "colors";

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

header{
  background-image: url("../../assets/images/header-background.png");
  background-position: 0% 100%;
  background-size: cover;
  height: 600px;
  border-bottom: 2px solid $pink-border;
}

header h1, p{
  color: #fff;
}

.feature-text{
  color: $feature-gray;
}
